[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mpathsenser"]
	path = mpathsenser
	url = https://github.com/koenniem/mpathsenser
